# dependencies list to build requirements.dev.txt with pip-compile (from pip-tools package)
sphinx-intl
python-levenshtein
pylint
mypy
pytest
pytest-asyncio
twine
setuptools
wheel
tqdm
pre-commit
pip-tools
requests
pytest-cov
coveralls
