-r requirements.in

# lint
pre-commit
pylint
mypy
black

# test
pytest
pytest-asyncio
pytest-cov
coveralls

# build
twine
setuptools
wheel
pip-tools

# docs
mkdocstrings[python]
mkdocs-material
pymdown-extensions
mkdocs-awesome-pages-plugin

# build & reqs management
-e .
